
* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Rajdhani', sans-serif;
    box-sizing: border-box;
}

/* #040D12 */
:root {
    --bg-color: #040D12;
    --txt-color: #fff;
    --main-color: #29fd53;
}

body {
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--txt-color);
}

body a {
    color: var(--txt-color);
}

/* -------------- MAKE THE BG IMAGE SCROLL EFFECT -------------- */
.page-wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

.bg-spots {
    position: absolute;
    display: flex;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -5;
}

.bg-spots img {
    background-repeat: no-repeat;
    position: absolute;
    top: 34%;
    left: 50px;
    opacity: 0.5;
    transform: translateZ(-10px)scale(1.5);
}

/* -------------- MAKE THE BG IMAGE SCROLL EFFECT -------------- */

/* --------------- NAVIGATION BAR SECTION --------------- */
header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.082);
    background-color: #ffffff17;
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    display: flex;
    top: 0;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    padding: 15px 12%;
    transition: all 0.5s;
}

.logo {
    display: flex;
    align-items: center;
}

.logo i {
    margin-left: 3px;
    font-size: 40px;
    color: var(--main-color);
}

.logo span {
    font-size: 30px;
    font-weight: 600;
}

.mynavbar {
    display: flex;
}

.mynavbar a {
    font-size: 1.2rem;
    margin: 0 30px;
    padding: 5px 0;
    transition: all 0.5s;
}

.mynavbar a:hover {
    color: var(--main-color);
}

/* .mynavbar a.active {
    color: var(--main-color);
} */

.main {
    display: flex;
    align-items: center;
}

.main a {
    margin: 0 10px;
    font-size: 1.2rem;
    transition: all 0.5s;
}

.main a:hover {
    color: var(--main-color);
}

.main .user {
    display: flex;
    align-items: center;
}

.main .user i {
    margin-right: 5px;
    font-size: 28px;
    color: var(--main-color);
}

.main #menu-icon {
    font-size: 35px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}

@media (max-width: 1280px) {
    header {
        padding: 14px 2%;
        transition: 0.2s;
    }

    .mynavbar a {
        padding: 5px 0;
        margin: 0 20px;
    }
}

@media (max-width: 1090px) {
    #menu-icon {
        display: block !important;
    }

    .mynavbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 170px;
        height: 36vh;
        background: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 15px;
        transition: all 0.5s;
    }

    .mynavbar a {
        display: block;
        margin: 12px 0;
        padding: 0 25px;
        transition: all 0.5s;
    }

    .mynavbar a:hover {
        color: var(--txt-color);
        transform: translateY(-5px);
    }

    .mynavbar a.active {
        color: var(--txt-color);
    }

    .mynavbar.open {
        right: 2%;
    }
}

/* ------------------------ navigation ended ------------------------ */

/* ------------------ HERO SECTION ------------------ */
.hero-section {
    position: relative;
    display: flex;
    justify-content: start;
    margin-left: 5%;
    margin-top: 8%;
    /* width: 100%; */
    height: 33vh;
}

.hero-section h1 {
    color: #ffffff;
    font-size: 50px;
}

.hero-section p {
    border: 2px solid #ffffff17;
    backdrop-filter: blur(5px);
    font-size: 20px;
    background-color: #183d3d67;
    padding: 16px 20px;
    border-radius: 0 80px 80px 0;
}


.hero-section .astro-img img {
    position: absolute;
    top: 3%;
    right: 3%;
    z-index: -1;
    width: 500px;
    height: 700px;
}

/* -------------- HERO SECTION ENDED -------------- */


/* ---------------------- CARD SECTION STARTS ---------------------- */
.all-cards {
    position: relative;
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 2.3rem;
}

.all-cards .card {
    position: relative;
    width: 200px;
    height: 300px;
}

.all-cards .card img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.all-cards .card span {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    transition: 0.5s;
    width: 200px;
    background-color: #040d12c7;
    border-radius: 5px;

    opacity: 0;
}

.all-cards .card span:hover {
    opacity: 1;
    cursor: default;
}

.all-cards .card-1 span {
    padding: 46px 5px 50px 5px;
}

.all-cards .card-2 span {

    padding: 26px 5px 10px 5px;
}

.all-cards .card-3 span {
    padding: 22px 5px 10px 5px;
}

.all-cards .card-4 span {
    padding: 36px 5px 40px 5px;
}



/* -------------------- PLANETS SECTION STARTS -------------------- */

.planet-section {
    display: flex;
    gap: 5%;
    align-items: center;
    position: relative;
    margin: 5.5rem 4rem 2rem;

}

.planet-section .planet-image {
    width: 500px;
    height: 500px;
}

.planet-section .planet-image img {
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.planet-section .planet-image img:hover {
    transform: translatex(10px) scale(1.1);

}

.planet-section h1 {
    color: #ffffff;
    font-size: 50px;
}

.planet-section p {
    width: 40rem;
    border: 2px solid #ffffff17;
    backdrop-filter: blur(5px);
    font-size: 24px;
    background-color: #183d3d67;
    padding: 16px 20px;
    border-radius: 0 80px 80px 0px;
}


.planet-section a {
    text-decoration: none;
    border: none;
    border-radius: 10px;
    background-color: #29fd53;
    color: #040D12;
    font-size: 20px;
    font-weight: 600;
    margin-top: 1rem;
    padding: 10px 30px;
    box-shadow: 0 0 5px rgb(0, 255, 85);
    transition: 0.4s;
}

.planet-section a:hover {
    box-shadow: 0 0 5px rgb(0, 255, 85),
        0 0 15px rgb(0, 255, 85),
        0 0 30px rgb(0, 255, 85);
}


/* -------------------- TESTIMONIAL SECTION -------------------- */
.testimonial-section {
    backdrop-filter: blur(10px);
    padding: 1.2rem 0;
    width: 100%;
    background-color: #58666150;
}

.testimonial-section .test-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.testimonial-section .test-top h2 {
    font-size: 3rem;
}

.testimonial-section .test-top p {
    text-align: center;
    font-size: 1.5rem;
    padding: 0 2rem;
}

/* CARDS  */
.testimonial-section .test-body {
    padding-left: 3rem;
    /* background-color: rgba(0, 255, 255, 0.507); */
    display: flex;
    justify-content: space-evenly;
}

.testimonial-section .test-body .test-card {
    position: relative;
    display: flex;
}
.testimonial-section .test-body:hover  .test-img-card:not(:hover) {
    filter: blur(10px);
}

.testimonial-section .test-body .test-card .test-img-card {
    width: 200px;
    height: 260px;
    transition: .3s;
}

.testimonial-section .test-body .test-card .test-img-card img {
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: .3s ease-in-out;
}
.testimonial-section .test-body .test-card .feedback-card {
    background-color: #040d1298;
    border: 2px solid rgba(128, 128, 128, 0.295);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.548);
    position: absolute;
    
    width: 200%;
    height: 100%;
    padding: 0 3rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.2s ;
    opacity: 0;
    z-index: 2;
    transform: translateX(0) scale(0);
}

.testimonial-section .test-body .test-card .left {
    left: 120%;
}
.testimonial-section .test-body .test-card .right {
    right: 120%;
}

.testimonial-section .test-body .test-card .test-img-card:hover + .feedback-card {
    opacity: 1;
    z-index: 2;
    transform: translateX(0) scale(1);
}

.testimonial-section .test-body .test-card .feedback-card h3 {
    position: absolute;
    top: 8%;
    left: 10%;
    color: #29fd53;
    font-size: 24px;
}
.test-card .feedback-card p {
    text-align: left;
    font-size: 18px;
    margin-top: 1.5em;
}
.test-card .feedback-card p::before {
    content: open-quote;
    color: #29fd53;
    font-size: 94px;
    position: absolute;
    left: 5%;
    top: 16%;
}
.test-card .feedback-card p::after {
    content: close-quote;
    color: #29fd53;
    font-size: 100px;
    position: absolute;
    right: 4%;
    bottom: -4%;
}

/* ------ bottom part of testimonial -------- */
.testimonial-section .test-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.testimonial-section .test-bottom p {
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem 0;
}
/* ------------------- TESTIMONIAL SECTION ENDED ------------------- */

/* -------------------- FOOTER STARTS HERE -------------------- */
.footer-section {
    backdrop-filter: blur(10px);
    width: 100%;
    height: 70vh;
    background-color: #0000008a;
}

/* ------- footer top section ------- */
.footer-section .footer-top {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-section .footer-top .site-brand .logo-title {
    display: flex;
    align-items: center;
}
.footer-section .footer-top .site-brand .logo-title h1 {
    font-size: 50px;
}
.footer-section .footer-top .site-brand .logo-title i {
    font-size: 60px;
    color: #29fd53;
}
.footer-section .footer-top .site-brand h3{
    font-size: 26px;
    font-weight: lighter;
}
.footer-section .footer-top a, i {
    transition: all .3s;
}
.footer-section .footer-top a:hover, i:hover {
    color: #29fd53;
}
.footer-section ul{
    font-size: 20px;
}

#planets {
    scroll-margin: 10rem;
}

/* ------- horizontal line in the middle ------- */
hr {
    border-top: 1px solid #29fd53;
    border-color: #29fd53;
    margin: auto;
    width: 80%;
}

/* ------- footer bottom section ------- */
.footer-section .footer-bot {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.2rem;
}
.footer-section .footer-bot .header h3 {
    font-size: 24px;
    font-weight: lighter;
}
.footer-section .footer-bot .links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.footer-section .footer-bot .links i { 
    font-size: 30px;
}
.footer-section .footer-bot .copyright p {
    font-size: 18px;
}
/* -------------------- FOOTER ENDS HERE -------------------- */

/* ---------------------- BEYOND FOOTER SECTION ---------------------- */
.beyond-footer {
    margin-top: 17em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15em;
}
.beyond-footer h3 {
    font-size: 30px;
}
.beyond-footer h2 {
    font-size: 40px;
}
.beyond-footer h1 {
    font-size: 50px;
}
.beyond-footer h1, h2, h3 {
    font-weight: lighter;
}

/* ---------------------- UNDER DEVELOPMENT MESSAGE SECTION ---------------------- */
/* .message-section {
    width: 100%;
    height: 50vh;
    background-color: #000000;

    display: flex;
    justify-content: center;
    align-items: center;
} */
